# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore output plots
outputs/
*.png
*.jpg
*.pdf
*.svg

# Ignore logs
*.log

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore environments
env/
.venv/
__pycache__/
*.pyc

# Ignore other
*.txt
*.js
*.css
*test.py
*.csv
*.json

